.app-nav {
    color: #E62C38;
}

.github-corner {
    display: none;
}

.app-nav ul li a {
    padding: .4rem .8rem;
    letter-spacing: .5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    transition: all .25s;
     background-color: #FFFFFF; 
    border: 1.2px solid #E0E0E0;
    border-radius: .2rem;
    font-family: Montserrat;
    font-weight: 600;
}

.app-nav ul li a:hover,
.app-nav ul li a.active {
    background-color: rgba(230, 44, 56, 0.8);
    color: white;
}